@charset "UTF-8";

/* 기본 폰트 제거 */

*{ margin : 0px; padding : 0px;}
a{text-decoration: none; color: black;}
a:hover{color:gray}
li{list-style-type: none;}
/* 웹 폰트 적용 = 눈누 , 구글 폰트 */

@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* ----------------------헤더----------------------*/
#header{ height: 150px;}
.hd_box{ width: 1200px; margin: 0 auto;}
.logobox{ float: left; margin : 30px 0 0 30px;}
.menus{ float: right; text-align: right;}
.menus li {display: inline;}
.top_menu{margin: 30px 0px;}
.main_menu li{
   font-family:"EarlyFontDiary";
   font-size: 20px; margin-left: 100px;
}
/* ---------------------메인이미지----------------------*/

#main_i
{clear: both;
 		height:350px;
 		background-image: url("../../img/main_bg.png");
		background-repeat: no-repeat;
		background-position: top center;
}
#content{width: 1200px; margin: 0 auto;}
/*-----------------------------사이드바*/
.sidebar{float: left; width: 250px; margin-bottom: 100px} 
.sb_tittle{background-color: #0ca9a3;padding: 15px;
font-size: 20px; color: white;}
.sb_comment{padding: 15px; line-height: 150%}
.serbaer {padding: 15px;}
.serbaer input{width: 150px; height: 30px;}
.serbaer button{margin-left: 5px; padding: 8px 10px;}
.sidedar .sb_tittle2
			{border-top: solid 2px black;
			border-bottom: solid 1px #eeeeee;
			padding: 15px; font-size: 15px;
}
.sidebar .sb_list{padding: 15px;}
.sidebar .sb_list li{padding: 10px;}
.sidebar .sb_list2{padding: 15px;}
.sidebar .sb_list2 li{padding: 10px;}
/* ----------------------본문----------------------*/

.main_content{ float: right; width: 900px;}
.left_main{float: left; width: 400px;}
.right_main{ float:right; width: 400px;}

.left_main .main_tittle{border-bottom: solid 2px black;padding-bottom: 10px;}
.left_main .board_ul{margin: 10px 0 40px 0px;}
.left_main .board_ul .item{padding-bottom: 40px;}
.item .tittle{float: left;}
.item .date{float: right;}


.right_main .main_tittle{border-bottom: solid 2px black; padding-bottom: 8px;}
.right_main .product_ul{float: left; width: 100px; margin: 20px 0 0 10px;}



#footer{clear: both;
background-color: #05354e;
color: white;
height: 300px;
}
.ft_box{width: 1200px; margin: 0 auto;}
.ft_menu{padding: 20px; font-weight: bold;}
.ft_menu li{display: inline; margin-right: 30px;}
.ft_box .item{float: left; margin: 20px 50px 20px 50px;}
.ft_item_ul{margin-top: 10px; width: 300px;}
.ft_item_ul li{margin: 5px;}





/* ----------------------푸터----------------------*/