@charset "UTF-8";
/*
	1.식별자 2.속성3.값
	식별자{속성명=값;}
	식별자복수선택:1.*2.
	식별자 복수선택 : 식별자, 식별자 ,식별자{}
	식별자의 하위 식별자 : 상위식별자 하위식별자{}
	
	 display
	 	1.inline 	한줄로 표시[가로세로 길이 x]
	 		*span,a ,img 등
	 	2.block		한줄차지
	 		*div,ul,li,p등
	 	3.inline-block	한줄로 표시[사이즈적용
	 	3.none
*/
*{font-family: "굴림";}

h3{text-align: center;}

.singupbox{
	margin : 0 auto;
	width: 600px;
	border-top: solid 2px red;
	border-bottom: solid 2px red;
	padding: 30px; /*안쪽여백*/
	}
	 li{list-style-type: none;} /*list style type :글머리 종류*/
	
	/*class가 cols라는 식별자 하위에 포함된 모든 li꾸미기*/
	.cols li {display: inline-block;}
	
	.cols1 {width: 150px;}
	.cols2 input {width: 250px; height: 25px;}
	.cols{padding: 5px;}
	.cols select{width: 100px; height: 30px;}
	
	.hello{vertical-align:top ;}/*세로 정렬*/
	textarea { resize: none;}/*긴글텍스트 박스 고정*/
	
	.buttonbox{
	width: 600px;
	margin: 0 auto; /*박스 사이즈가 있을경우의 가운데정렬*/
	text-align: right; /*박스내용물 : 글자,이미지,버튼 등 가운데정렬*/
	}
	.buttonbox input{
		padding:  10px 20px;
		margin-top: 20px; 
	}