@charset "UTF-8";

/* 여백제거 */
*{padding: 0px ; margin: 0px;}

.sidebar{
	background-color:  black;
	color: white;
	width: 200px; 	/* 가로사이즈 */
	position:  absolute;
	top: 0; 		/* 위에서부터 0 만큼 떨어진다 */
	bottom: 0;	 	/* 아래에서 0만큼 */
	left: -170px; 	/* 메뉴바숨기기 */
	transition : 0.5s;  /* 애니메이션 효과 트랜지션 css변경효과*/
	
}

.side_menu{padding: 50px;}  /* 사이드바 목록 전체 여백 */
.side_menu li{list-style: none;} /* 글머리제거 */
.side_item{margin: 30px 0;}/* 사이드바 몰록여백 */
.side_item a{color: white; text-decoration: none;} /* 밑줄제거 */
.sidebar h3{margin: 20px;} 