@charset "UTF-8";
*{border: solid 1px red;box-sizing: border-box;background-color: black; color: white; }
a{text-decoration: none;}
li{
	list-style: none;
	margin-bottom: 2rem;
}
p{font-size: 1.5rem;}
.container{
	width: 1500px;
	margin: 0 auto;
	height: 1500px;
}
.headerbox{
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 10%;
}

.login{
	padding: 50px 20px;
}


.menu{
	float: left; width: 250px; height: 80%;
	border: solid orange 3px; 
}
.menu_list{
	height: 95%;
}
.menu_list a:hover{
	background-color: #eeeeee;
	color: black;
	
}
.main_content{
	float: right; width: 1200px; height: 80%; display: flex; flex-direction: column; justify-content: space-between; 
	
}
.cols{ position:relative;
	width: 900px; height: 100%;
	background-color: #dadada;
	justify-content: space-between;
}
.login1 , login2{
	text-align: center;
}

.cols1{position:relative;
	margin:0 auto;
	height: 70px;
	width: 500px;
	padding: 15px;
	background-color: #A0A0A0;
	border-radius: 10px;
	border: 1px solid #dadada
}
.main_content input{
	border: 0 solid;
	background-color: transparent;
	width: 300px;
	height: 40px;
	margin-right: 60px;
	font-size: 20px;
	font-weight: 100;
}
.main2{position : absolute;
	margin: 19%;
	background-color: transparent;
	border: 1px solid #3736625c;
	border-radius: 10px;
}
.main2 h3{

 float: left;
 justify-content: space-between;
 padding: 5px;
 margin: 10px;
}
.loginsafe{
	display: block;
}
input:focus {outline:none;}
.login1{
	background: linear-gradient(red, blue);
	width: 500px;
	margin: 0 auto;
	margin-bottom: 30px;
	border-radius: 10px;
}

.login2 {
	width: 250px;
	text-align: center;
	height: 50px;
	margin: 0 auto;
	border-radius: 10px;
	margin-top:90px; 
	background-color: blue;
}
.login2 a{
	background: transparent;
}
footer{
	clear: both;
	display: flex;
	justify-content: center;
	height: 10%;
	
	
	
}
.info ,.tos{padding: 50px 20px;}