@charset "UTF-8";


*{margin: 0; padding: 0; box-sizing:border-box; 
border: 1px solid red;}
li{list-style-type: none;}/*글머리제거*/


/*박스권*/

.box{
	clear: both; /*플러팅제거*/
	width: 80%;
	height: 50%;
	margin: 0 auto;
	background-color: #eeeeee;
}
